html{
    width:50%;
}

html, body {

    
    font-size: 15px;
    font-family: arial;
    text-decoration: none;
       
    padding: 0;
    margin: 0; 

    Text-decoration: none;
    outline: none;
    border: 0px none transparent;
}

h1{
    margin: 2% 0% 0px 20%;
    font-size: 15px;
}
h2{
    margin: 0px 0px 0px 20%;
    font-size: 12px;

}
h3{
    margin: 2% 0px 0px 20%;
    font-size: 12px;
}

/*******************
*******images*******
********************/
div.logos{
    width: 120px;
    height: 30px;
    margin-left: 60%;  
    text-decoration: none;
}
a {
    text-decoration: none;
}
img.portrait {
    margin: 2% 0px 0px 2.5%; 
    float:left;  
}

img.portrait:hover{
    animation: rotate 2s linear 1;
}
/*//////////////////////*/
footer {  
    margin:1% 5% 0 2.5%; 
    text-decoration: none;
    width:100%;
    float: left;
}

@media screen and (min-width:200px) and (max-width:720px){
html {
    width:100%;
}}

@keyframes rotate {
     100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); 
}}